t1{
    font-size: 30px;
}

.img-foto-index{

    border-radius: 100%;
    width: 30%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body{
    background: black;
    font-family: PT Sans;
    color:#fff;
    font-size: 50px;
}
.div1{
    padding: 5px 80px 5px 80px; 
    background-color: rgba(0, 0, 0, 0.041);
    margin: 15px 15px 15px 15px;
}
.div2{
    padding: 80px;
    background-color: rgba(255, 255, 255, 0.041);
    margin: 20px;
}
div{
    padding: 80px;
    background-color: rgba(255, 255, 255, 0.041);
    margin: 20px;
}