body{
    background: black;
    font-family: PT Sans;
    color:#fff;
    font-size: 25px;
    margin: 0px;
}
t1{
    font-size: 30px;
    font-weight: bold;
}
.img-photo-index{
    border-radius: 100%;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.container1{
    background-color: rgba(255, 255, 255, 0.041);    
    padding-left: 25px;
    margin-bottom: 5px;
    display: block;
}
.container2{
    margin: 0px 25px 0px 25px;
    background-color: rgba(255, 255, 255, 0.041);
    display: block;
}
.container3{
    margin: 0px 25px 25px 25px;
    background-color: rgba(255, 255, 255, 0.041);
}
.container4{
    margin: 25px;
    background-color: rgba(255, 255, 255, 0.041);
}
.container5{
    margin: 25px;
    background-color: rgba(255, 255, 255, 0.041);
}
.container6{
    margin: 25px;
    background-color: rgba(255, 255, 255, 0.041);
}




